p{
	color: limegreen;
	;

}
body{
font-family: 'Fuzzy Bubbles', cursive;
}



button{

     background-color :limegreen;
border-radius:  90000000000000000000% ;
border-color :white;
trasition: 0.0000000000000000000000000000000000000000000000000000000000000000000000000001;




}
button:hover{
     background-color: blue; 

}



a{
     text-decoration: none;
     color: white;
}

div{

     width:  100px;

   height: 100px;

 background-color:  limegreen;
position:  relative;
animation:  joemama 1s linear 2s infinte;

}

@keyframes joemama{
	0% { background-color: limegreen;
                        left: 0px;
                        top: 0px;
        }
	25%  {
		background-color: yellow;
                             	left: 200px;
                             	top: 0px;

                             }
                                     75%{
                                     	background-color: blue;
                                     	left: 200px;
                                     	top: 200px;
                                     	 }
                                     	 100%{
                                     	 	background-color: red;
                                     	 	left :0px;
                                     	 	top: 0px;

}
}